<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nycosborne.lifting">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lifitng_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lifitng_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nycosborne.lifting.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nycosborne.lifting.NewWorkOutActivity"
            android:label="NewWorkOutActivity"
            android:parentActivityName="com.nycosborne.lifting.MainActivity"
            />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.nycosborne.lifting.MainActivity"/>
        <activity
            android:name="com.nycosborne.lifting.WorkOutActivity"
            android:parentActivityName="com.nycosborne.lifting.MainActivity"
            />
        <activity
            android:name="com.nycosborne.lifting.NewExceriseActivity"
            android:parentActivityName="com.nycosborne.lifting.WorkOutActivity"/>
        <activity
            android:name="com.nycosborne.lifting.LiftingActivity"
            android:parentActivityName="com.nycosborne.lifting.WorkOutActivity"/>
        <activity android:name="com.nycosborne.lifting.UpDateWorkOut"
            android:parentActivityName="com.nycosborne.lifting.WorkOutActivity"/>
        <activity android:name="com.nycosborne.lifting.UpDateExercise"
            android:parentActivityName="com.nycosborne.lifting.LiftingActivity">

        </activity>
    </application>

</manifest>